* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box {
    background-color: #01A99A;
    border-radius: 20px;
    padding: 40px;
    width: 350px;
    box-shadow: 0px 8px 16px rgba(26, 23, 23, 0.1);
    text-align: center;
}

.login-box h1 {
    color: #01A99A;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: white;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid white;
}

.login-box button {
    background-color: #005BB5;
    color: white;
    border: none;
    padding: 12px 20px;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.login-box button:hover {
    background-color: rgb(191, 198, 202);
}

.register-text {
    font-size: 0.9em;
    color: white;
    margin: 15px 0;
    
}

.register-text a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/blur-hospital.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Adjust opacity */
    z-index: -1; /* Keep the image behind the content */
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}
