* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0e7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    background-color: #01A99A;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 380px;
}

.signup-box {
    background-color: #f3f4f6;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.logo {
    font-size: 2em;
    color: rgb(38, 177, 177);
    margin-bottom: 20px;
    text-align: left;
}

h2 {
    font-size: 1.5em;
    color: #01A99A;
    margin-bottom: 20px;
}

form input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background-color: #d1d5db;
}

form input:focus {
    outline: none;
    background-color: #e5e7eb;
}

button {
    background-color: #005BB5;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #1789e0;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/blur-hospital.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5; 
    z-index: -1; /* Keep the image behind the content */
}
